@import '../../assets/_scss_constants';

#LandingPage {
  width: 100vw;
  min-height: 100vh;
  // overflow: hidden;
}

#LandingPageGradient {
  background: $brand-gradient-fallback;
  background: $brand-gradient-webkit;
  background: $brand-gradient-default;
}
