@import '../../../assets/_scss_constants';

#LandingTestimonials {
  width: 100vw;
  // height: 50vh;
  background: $brand-gradient-fallback-inverse;
  background: $brand-gradient-webkit-inverse;
  background: $brand-gradient-default-inverse;
}

#LandingTestimonials-title {
  padding: 150px 10% 100px 10%;
  font-size: 3rem;
  color: white;
  font-family: $brand-subtitle-font;
}

.TestimonialCard {
  flex: 1;
  border-radius: 25px;
  margin: 15px;
  width: 100%;
  cursor: pointer;
  background-color: rgba(256,256,256,0.85);
}

.TestimonialCard-quote {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.TestimonialCard-author {
  padding: 10px;
  font-size: 1.5rem;
  color: white;
}
