@import '../../../assets/_scss_constants';

#LandingGallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#LandingGallery-title {
  font-size: 3rem;
  width: 100%;
  padding: 100px;
}

.LandingGallery-StackGrid {
  width: 100vw;
}

.LandingGallery-image {
  display: block;
  width: 100%;
}
