
#CleaningCanvas {

}

#CleaningCanvas-controls-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media only screen
  and (max-width: 700px) {
    #CleaningCanvas-controls-bar {
      justify-content: center;
    }
}


.CleaningCanvas-controls-segment {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.CleaningCanvas-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 80px;
  padding: 10px;
  cursor: pointer;
}

.CleaningCanvas-control-icon {

}

.CleaningCanvas-control-label {
  font-size: 0.6rem;
  font-weight: bold;
  margin: 5px 0px 0px 0px;
}

.CleaningCanvas-artboard {
  width: 100%;
  height: auto;
}
