@import '../../../assets/_scss_constants';

#LandingCaseStudies {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#LandingCaseStudies-title {
  padding: 100px;
  font-size: 2rem;
  width: 100%;
}

.LandingCaseStudies-StackGrid {
  width: 100vw;
}

.LandingCaseStudies-brand {
  display: block;
  width: 100%;
}
